html {
    height: 100%;
    margin: 0;
}

body {
    text-align: center;
    margin: 0;
}
hr.green {
    width: 10%;
    border-style: none;
    border-top-style: dotted;
    border-width: 0.8rem;
    border-color: teal;
}
.welcome-title {
    /*min-height: 300px;*/
    color: white;
    font-weight: bold;
    text-align: left;
    background: url(images/header-background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 7% 0 7% 3%;
}
.green {
    color: teal;
    line-height: 1.5;
}
.category-container {
   padding: 1%;
}
.category-card {
    padding: 0 4% 4%;
}
.category-card p {
    font-size: smaller;
}
.category-card .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.category-card .card:hover {
    cursor: pointer;
}




.footer {
    color: white;
    background-color: #363636;
    margin-bottom: 0;
    padding-bottom: 1%;
}

.footer-top {
    background-color: #323232;
    padding: 3%;
    margin: 2% 0;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
}

.footer a {
    color: white;
}

.footer a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 2px white;
}


@media (max-width: 700px) {
    h1 {
      font-size: large;
    }
    h6 {
        font-size: small;
    }
  }